* {
    margin:0;
    padding: 0;
}
body {
    background-color: grey;
}
.nav-main {
    height: 60px;
}

#btn-toggle-nav {
    margin-top: 10px;
    width: 70px;
    height: 100%;
    background-image: url(./hamburger_menu.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    cursor: pointer;
}

.nav-dropdown{
    width: 0px;
    padding: 0 15px;
    transition: all 0.5s ease-in-out;
}

.nav-dropdown ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
    cursor: pointer;
}
.nav-dropdown ul li{
    padding: 10px;
    border: 2px solid rgb(159, 155, 155);
    font: 20px bold Arial, Helvetica, sans-serif;
    
}
#home {
    background-color: grey;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#yellow {
    background-color: yellow;
}